﻿@using PagedList.Mvc;
@model PagedList.IPagedList<FeedBack.Entity.Post>

@{
    ViewBag.Title = "FeedBackCollectionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FeedBack.Entity.Post post = new FeedBack.Entity.Post();
}
<br />

@using (Html.BeginForm("FeedBackCollectionDetails", "FeedBackCollection", FormMethod.Get))
{
    <div class="row gutters-8">
        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
            @Html.TextBox("Search_Data", ViewBag.FilterValue as string, new { @class = "Search form-control", @placeholder = "Search Post" })
        </div>
        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
            <button style="height:45px !important; padding-top:10px" type="submit" value="Find" id="find" title="Search" class="btn btn-info">Search</button>
        </div>
    </div>
}

<div class="table-responsive" style="overflow-y: hidden;">
    <table class="table display data-table text-nowrap">
        @foreach (var posts in Model.GroupBy(p => p.PostMessage, (key, items) => new
        {
            PostMessage = key,
            CreateTime = items.Select(p => p.CreateDate.ToLocalTime()).FirstOrDefault(),
            User = items.Select(p => p.UserName).FirstOrDefault(),
            CommentCount = items.Sum(p => p.Comments.Count),
            Comments = items.Select(p => p.Comments.ToList())
        }))
        {

            <thead>
                <tr>
                    <th>@posts.PostMessage</th>
                    <th>@posts.User</th>
                    <th>@posts.CreateTime</th>
                    <th>@posts.CommentCount Comments</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var cm in posts.Comments)
                {
                    foreach (var c in cm)
                    {
                        <tr>
                            <td>@c.CommentMsg</td>
                            <td>@c.UserName</td>
                            <td>@c.CreateDate.ToLocalTime()</td>
                            <td><i class="fa fa-arrow-up" style="color:green"></i>@c.YesCount &nbsp; <i class="fa fa-arrow-down" style="color:red"></i>@c.NoCount</td>
                        </tr>
                    }
                }
            </tbody>

        }
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("FeedBackCollectionDetails", new { page, Filter_Value = ViewBag.FilterValue }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

